externalSecret:
  clusterSecretStore:
    vault:
      annotations:
        vault.hashicorp.com/role: bao-admin
      provider:
        vault:
          # server: "https://bao.jcan.dev"
          server: "http://openbao.openbao.svc.cluster.local:8200"
          path: "kv"
          # Version is the Vault KV secret engine version.
          # This can be either "v1" or "v2", defaults to "v2"
          version: "v2"
          auth:
            # points to a secret that contains a vault token
            # https://www.vaultproject.io/docs/auth/token
            tokenSecretRef:
              name: "bao-admin"
              key: "token"
              namespace: "secrets-integrator"

  externalSecrets:
    - name: "argowf-external-secret"
      namespaces:
        - argo-workflows
      secretStoreRef:
        name: vault
        kind: ClusterSecretStore
      template:
        metadata:
          labels:
            app.kubernetes.io/part-of: argocd
      data:
        - remoteRef:
            conversionStrategy: Default
            decodingStrategy: None
            key: platform/storage/harbor
            metadataPolicy: None
            property: regcred
          secretKey: config.json
        - remoteRef:
            conversionStrategy: Default
            decodingStrategy: None
            key: platform/security/authentik
            metadataPolicy: None
            property: ARGOWF_CLIENT_ID
          secretKey: ARGOWF_CLIENT_ID
        - remoteRef:
            conversionStrategy: Default
            decodingStrategy: None
            key: platform/security/authentik
            metadataPolicy: None
            property: ARGOWF_CLIENT_SECRET
          secretKey: ARGOWF_CLIENT_SECRET
    
    - name: "argocd-external-secret"
      namespaces:
        - argo-cd
      secretStoreRef:
        name: vault
        kind: ClusterSecretStore
      template:
        metadata:
          labels:
            app.kubernetes.io/part-of: argocd
      data:
        - remoteRef:
            conversionStrategy: Default
            decodingStrategy: None
            key: platform/core/argo-cd
            metadataPolicy: None
            property: slack-token
          secretKey: slack-token
        - remoteRef:
            conversionStrategy: Default
            decodingStrategy: None
            key: platform/core/argo-cd
            metadataPolicy: None
            property: GITLAB_APPLICATION_ID
          secretKey: GITLAB_APPLICATION_ID
        - remoteRef:
            conversionStrategy: Default
            decodingStrategy: None
            key: platform/core/argo-cd
            metadataPolicy: None
            property: GITLAB_CLIENT_SECRET
          secretKey: GITLAB_CLIENT_SECRET
        - remoteRef:
            conversionStrategy: Default
            decodingStrategy: None
            key: platform/security/authentik
            metadataPolicy: None
            property: ARGOCD_CLIENT_ID
          secretKey: ARGOCD_CLIENT_ID
        - remoteRef:
            conversionStrategy: Default
            decodingStrategy: None
            key: platform/security/authentik
            metadataPolicy: None
            property: ARGOCD_CLIENT_SECRET
          secretKey: ARGOCD_CLIENT_SECRET

    - name: "github-runner-external-secret"
      namespaces:
        - github-runner
      secretStoreRef:
        name: vault
        kind: ClusterSecretStore
      data:
        - remoteRef:
            conversionStrategy: Default
            decodingStrategy: None
            key: workloads/ci/github-runner
            metadataPolicy: None
            property: github_token
          secretKey: github_token

    - name: "gitlab-runner-external-secret"
      namespaces:
        - gitlab-runner
      secretStoreRef:
        name: vault
        kind: ClusterSecretStore
      data:
        - remoteRef:
            conversionStrategy: Default
            decodingStrategy: None
            key: workloads/ci/gitlab-runner
            metadataPolicy: None
            property: runner-registration-token
          secretKey: runner-registration-token
        - remoteRef:
            conversionStrategy: Default
            decodingStrategy: None
            key: workloads/ci/gitlab-runner
            metadataPolicy: None
            property: runner-token
          secretKey: runner-token

    - name: "pft-external-secret"
      namespaces:
        - argo-cd
      secretStoreRef:
        name: vault
        kind: ClusterSecretStore
      template:
        metadata:
          labels:
            app.kubernetes.io/part-of: argocd
            argocd.argoproj.io/secret-type: repository
      data:
        - remoteRef:
            conversionStrategy: Default
            decodingStrategy: None
            key: workloads/work/pft
            metadataPolicy: None
            property: username
          secretKey: username
        - remoteRef:
            conversionStrategy: Default
            decodingStrategy: None
            key: workloads/work/pft
            metadataPolicy: None
            property: access-token
          secretKey: password
        - remoteRef:
            conversionStrategy: Default
            decodingStrategy: None
            key: workloads/work/pft
            metadataPolicy: None
            property: url
          secretKey: url
        - remoteRef:
            conversionStrategy: Default
            decodingStrategy: None
            key: workloads/work/pft
            metadataPolicy: None
            property: type
          secretKey: type
        - remoteRef:
            conversionStrategy: Default
            decodingStrategy: None
            key: workloads/work/pft
            metadataPolicy: None
            property: name
          secretKey: name
        - remoteRef:
            conversionStrategy: Default
            decodingStrategy: None
            key: workloads/work/pft
            metadataPolicy: None
            property: project
          secretKey: project

    - name: "pft-external-secret-regcred"
      namespaces:
        - pft
      secretStoreRef:
        name: vault
        kind: ClusterSecretStore
      template:
        type: kubernetes.io/dockerconfigjson
        data:
          # workaround for helm to not render "<nil>" during rendering process in pre helm deployment
          .dockerconfigjson: "{{ .base64Regcred | toString }}"
      data:
        - secretKey: base64Regcred
          remoteRef:
            conversionStrategy: Default	
            decodingStrategy: None
            key: workloads/work/pft
            metadataPolicy: None
            property: regcred

kubectl:
  image: rancher/kubectl
  tag: v1.34.0-amd64