deploymentMode: SingleBinary

loki:
  auth_enabled: false

  commonConfig:
    replication_factor: 1

  storage:
    type: filesystem

  storage_config:
    filesystem:
      directory: /var/loki/chunks

  schemaConfig:
    configs:
      - from: 2026-01-01
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

  limits_config:
    retention_period: 168h

  compactor:
    working_directory: /var/loki/compactor
    retention_enabled: true

singleBinary:
  replicas: 1

persistence:
  enabled: true
  storageClassName: longhorn
  accessModes:
    - ReadWriteOnce
  size: 50Gi

backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0
gateway:
  enabled: false

service:
  type: ClusterIP
  port: 3100

serviceMonitor:
  enabled: true