apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- namespace.yaml
- configs/traefik/ingressroute.yaml
- configs/traefik/middleware.yaml
- configs/traefik/serverstransport.yaml

helmCharts:
- name: harbor
  namespace: harbor
  releaseName: harbor
  repo: https://helm.goharbor.io
  valuesFile: values.yaml
  version: 1.18.1
  includeCRDs: true