apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: authentik
resources:
  - namespace.yaml
  - external-secret.yaml
  - blueprints

helmCharts:
  - name: authentik
    repo: https://charts.goauthentik.io
    version: 2025.12.3
    releaseName: authentik
    namespace: authentik
    valuesFile: values.yaml
