apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- namespace.yaml
- recurringjob.yaml

helmCharts:
- name: longhorn
  namespace: longhorn
  releaseName: longhorn
  repo: https://charts.longhorn.io
  valuesFile: values.yaml
  version: 1.11.0
  includeCRDs: true